<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Player List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Player Name</th>
          <th>Current Score</th>
            <th>High Score</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of results; let i=index">


                    <td>{{ data.player_name }}</td>
                      <td>{{ data.current_score }}</td>
                        <td>{{ data.high_score }}</td>

          <!-- <td><button (click)="deleteEmployee(employee.id)" class="btn btn-danger">Block</button>
              <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin-left: 10px">Delete</button>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
